<ul>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/floating']">Floating</a></li>
    <li><a routerLinkActive="active" routerLink="/categories">Categories</a></li>
    <li><a routerLinkActive="active" routerLink="/countdown">Countdown Timer</a></li>
    <li><a routerLinkActive="active" routerLink="/countdown-subject">Countdown Timer using Subjects</a></li>
    <li><a routerLinkActive="active" routerLink="/student">Students Info</a></li>
    <li><a routerLinkActive="active" routerLink="/dynamic-divs">Dynamic Divs</a></li>
  </ul>
