<div class="category-card">
    <div class="category-card-header">
        <div>
            <h3 class="name">{{category.name | titlecase}}</h3>
            <p class="type">Manufactured By: <em> {{category.manufacturedBy | uppercase}} </em></p>
        </div>
        <span>Price: {{category.price}} Rs</span>
    </div>
    <div class="splitline"></div>
    <div class="category-card-description">
        <img [src]="category.img" [alt]="category.name">
        <p> {{category.description}}</p>
    </div>

</div>