<div class="category-card">
    <div class="category-card-header">
        <div>
            <h4>Mobile Xt</h4>
            <p class="category">Category: Electronics</p>
        </div>
        <span>Price: 505$</span>
    </div>
    <div class="splitline"></div>
    <div class="category-card-description">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus praesentium, perspiciatis in vero mollitia deleniti vitae delectus molestias, error officiis sint! A nihil sit dolor? Labore ullam natus inventore corporis.</p>
        <img src="" alt="" srcset="">
    </div>

</div>