<aside>
    <section>
        <section>
            <section>
                <section>
                    <section>
                        <section>
                            <section>
                                <div class="text-block">
                                    <p [@animateText]="floatingTextState">A floating banner text which keeps on rotating</p>
                                </div>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</aside>
