
aside{
    display: flex;
    justify-content:center;
    section{
        margin: 0.6rem;
        padding: 1rem;
        border: 3px solid black;
        .text-block{
            border: 3px solid black;
            overflow: hidden;
            width: 22vw;
        }
    }
}