aside{
    width: 80vw;
    margin: 4rem auto;
    section{
        display: flex;
        padding: 1rem;
        justify-content: space-around;
        width: 60vw;
        margin: auto;
        .col{
            width: 40vw;
            margin: 0rem 1rem;
            overflow: scroll;
            height: 25vh;
        }
        .col:first-child{
            width: 20vw;
        }
    }
}

.border{
    border: 3px solid black;
}